/* Your CSS Code here. */
.holder {
	display:flex;
	justify-content: space-around;
	flex-wrap:wrap;
}

.holder div {	
	margin:0px;
}
.item {
	min-width:100px;
	min-height: 100px;
	font-size:50px;
}

.green { background-color: green;}
.red { background-color: red;}
.blue { background-color: blue;}